/* BASIC TYPOGRAPHY                       */
/* from https://github.com/oxalorg/sakura */
html {
  font-size: 62.5%;
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Courier New', Courier, monospace, sans-serif;
  scroll-behavior: smooth;
}
body {
  font-size: 1.8rem;
  line-height: 1.7;
  margin: auto;
  padding: 13px;
  text-rendering: optimizeLegibility;
}
html, body {
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 400;
  color: #1E1E1D;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* -ms-word-break: break-all;
  word-break: break-word; */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1, h2, h3, h4 {
  font-family: 'Courier New Bold', Courier, monospace, sans-serif;
}
h1 {
  font-size: 4em;
  padding-left: 1.5em;
  margin-bottom: 0px;
  word-spacing: -1em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
p {
  font-size: 20px;
  opacity: 65%;
}
.caption {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* RESET LAYOUT AND ADD COLORS */
body {
  margin: 0;
  padding: 0;
  max-width: inherit;
  background: #1E1E1D;
  cursor: url("../assets/arrow-pointer.svg"), auto;
}

/* LAYOUT */
.splash-screen {
  height: 100vh;
}
.splash-screen::after {
  content: "";
  background-image: url("../assets/bg-texture-white.png");
  background-size: auto;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  pointer-events: none;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.splash-screen-inner {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  position: fixed;
  /* cursor: s-resize; */
  cursor: url("../assets/arrow-down.svg"), pointer;
}
.header {
  background-color: #1E1E1D;
  color: #E0E0D8;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 3;
  height: auto;
}
.header::after {
  content: "";
  background-image: url("../assets/bg-texture-tan.png");
  background-size: auto;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  pointer-events: none;
}
.header-inner {
  padding: 1.4em 6em .2em 6em;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.logo-animated {
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
img.static {
  width: 300px;
  background-color: #1E1E1D;
  position: absolute;
}
img.static:hover {
  width: 300px;
  position: absolute;
  opacity: 0;
}
img.animated {
  width: 300px;
}
.nav ul {
  margin: 0;
}
.nav li {
  list-style: none;
  padding: 0px;
  display: inline;
  font-size: 14px;
  font-family: 'Courier New Bold', Courier, monospace, sans-serif;
  letter-spacing: 0.25em;
}
.nav li a {
  text-decoration: none;
  color: #E0E0D8;
  opacity: 0.5;
  transition: 0.2s;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.nav li a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.nav li a.active {
  opacity: 1;
}
.section-bottom-tear {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.sec-streaming {
  background-color: #1E1E1D;
  padding: 2% 0% 5% 0%;
  position: relative;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.sec-streaming::after {
  content: "";
  background-image: url("../assets/bg-texture-tan.png");
  background-size: auto;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  pointer-events: none;
}
.streaming-inner {
  display: flex;
  justify-content: space-between;
  padding: 2em 6em 0em 6em;
  margin: 0 auto;
}
.cover-art {
  width: 48%;
  color: #ffffff;
  line-height: 0;
  position: relative;
}
.cover-art img {
  width: 100%;
}
.attribution {
  padding: 1em 6em 0em 6em;
  color: #FFFFFF;
  line-height: 0.6em;
  margin: 0 auto;
}
.attribution p{
  font-size: 1em;
}
.streaming-links {
  display: flex;
  width: 48%;
  color: #FFFFFF;
  background: #1E1E1D;
  flex-direction: column;
  justify-content: space-between;
}
.platform-tile {
  background-color: rgba(224,224,216,0.2);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  text-decoration: none;
  font-family: 'Courier New Bold', Courier, sans-serif, monospace;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.platform-tile:hover {
  opacity: 1;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.streaming-logo {
  width: 24px;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.platform-name{
  color: #E0E0D8;
  text-align: center;
  font-size: 20px;
}
.play-button {
  width: 12px;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.sec-about {
  background-color: #E0E0D8;
  position: relative;
  padding: 8% 0%;
}
.sec-about::after {
  content: "";
  background-image: url("../assets/bg-texture-white.png");
  background-size: auto;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  pointer-events: none;
}
.sec-about-inner {
  padding: 2em;
  max-width: 700px;
  margin: 0 auto;
}
.sec-about-inner img {
  padding: 1.5em 0em 0.5em 0em;
  width: 100%;
}
.sec-lookbook {
  background-color: #FFFFFF;
  position: relative;
  padding: 8% 0% 0% 0%;
}
.sec-lookbook::after {
  content: "";
  background-image: url("../assets/bg-texture-tan.png");
  background-size: auto;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
}
.sec-lookbook-inner-text {
  padding: 2em;
  max-width: 700px;
  margin: 0 auto;
}
.lookbook-image {
  padding-top: 8%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
a.download-pdf:link {
  color: #1E1E1D;
  background-color: #E0E0D8;
  text-decoration: none;
  font-family: 'Courier New Bold', Courier, sans-serif, monospace;
  transition: 0.2s;
  padding: 0.5em;
  border-radius: 4px;
}
a.download-pdf:visited {
  color: #1E1E1D;
}
a.download-pdf:hover {
  background-color: #92314F;
  color: #FFFFFF;
  transition: 0.2s;
}
footer {
  background-color: #1E1E1D;
  font-size: 14px;
  padding: 3em 6em 3em 6em;
  margin: 0 auto;
  position: relative;
}
.contact {
  margin: 0 auto;
  font-family: 'Courier New Bold', Courier, monospace, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #E0E0D8;
}
.contact a {
  opacity: 0.5;
  transition: 0.2s;
  text-decoration: none;
}
.contact a:link {
  color: #E0E0D8;
}
.contact a:hover {
  opacity: 1;
}
.contact a:visited {
  color: #E0E0D8;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social a {
  cursor: url("../assets/arrow-pointer.svg"), auto;
}
.inline-image {
  /* -moz-box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.8);  /* Firefox 3.5 - 3.6 */
  /* -webkit-box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.8); */
  width: 33.33%;
}
button {
  font-family: 'Courier New Bold', Courier, sans-serif, monospace;
  font-size: inherit;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.image-footnote {
  font-size: 0.75em;
  padding-bottom: 2em;
  margin-top: 0;
}
.arrow-rotate-ne {
  transform: rotate(45deg);
  display: inline-block;
}

/* READ MORE REVEAL */
#more {display: none;}
.read-more-button {
  border: none;
  padding: 0;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
  font-family: 'Courier New Bold', Courier, sans-serif, monospace;
  transition: 0.2s;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #1E1E1D;
  padding: 0.5em;
  border-radius: 4px;
  margin-top: 0.5em;
}
.read-more-button:hover {
  opacity: 0.7;
  transition: 0.1s;
}

/* MODAL */
.w3-modal {
  z-index: 3;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(30,30,29);
  background-color: rgba(30,30,29,0.9);
  align-items: center;
  cursor: url("../assets/close.svg"), pointer;
}
.w3-modal-content {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding:0;
  outline:0;
  border-radius: 4px;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
}
.w3-button {
  color: #1E1E1D;
  background-color: #E0E0D8;
  text-decoration: none;
  font-family: 'Courier New Bold', Courier, sans-serif, monospace;
  transition: 0.2s;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 0.5em;
  text-align: center;
  cursor: url("../assets/arrow-pointer.svg"), pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w3-button:hover {
  opacity: 0.7;
  transition: 0.1s;
}
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

/* SLIDESHOW */
.w3-content {
  margin-left: auto;
  margin-right: auto;
}
.w3-display-container {
  position: relative;
  box-shadow: 0px 10px 30px rgba(30, 30, 29, 0.2);
}
.w3-display-container:hover {
  display: block;
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
  margin-left: 1em;
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
  margin-right: 1em;
}
.mySlides {
  height: 92vh;
}
/* START TOOLTIPS */
.tooltipped {
  position: relative;
}

// This is the tooltip bubble
.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: $em-spacer-5 $em-spacer-6;
  font: normal normal 11px/1.5 $body-font;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $text-white;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: $bg-black;
  border-radius: $border-radius;
  opacity: 0;
}

// This is the tooltip arrow
.tooltipped::before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: $text-black;
  pointer-events: none;
  content: "";
  // stylelint-disable-next-line primer/borders
  border: 6px $border-style transparent;
  opacity: 0;
}

// delay animation for tooltip
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// This will indicate when we'll activate the tooltip
.tooltipped:hover,
.tooltipped:active,
.tooltipped:focus {
  &::before,
  &::after {
    display: inline-block;
    text-decoration: none;
    animation-name: tooltip-appear;
    animation-duration: $tooltip-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: $tooltip-delay;
  }
}

.tooltipped-no-delay:hover,
.tooltipped-no-delay:active,
.tooltipped-no-delay:focus {
  &::before,
  &::after {
    animation-delay: 0s;
  }
}

.tooltipped-multiline:hover,
.tooltipped-multiline:active,
.tooltipped-multiline:focus {
  &::after {
    display: table-cell;
  }
}

// Tooltipped south
.tooltipped-s,
.tooltipped-se,
.tooltipped-sw {
  &::after {
    top: 100%;
    right: 50%;
    // stylelint-disable-next-line primer/spacing
    margin-top: 6px;
  }

  &::before {
    top: auto;
    right: 50%;
    bottom: -7px;
    // stylelint-disable-next-line primer/spacing
    margin-right: -6px;
    // stylelint-disable-next-line primer/borders
    border-bottom-color: $bg-black;
  }
}

.tooltipped-se {
  &::after {
    right: auto;
    left: 50%;
    margin-left: -$spacer-3;
  }
}

.tooltipped-sw::after {
  margin-right: -$spacer-3;
}

// Tooltips above the object
.tooltipped-n,
.tooltipped-ne,
.tooltipped-nw {
  &::after {
    right: 50%;
    bottom: 100%;
    // stylelint-disable-next-line primer/spacing
    margin-bottom: 6px;
  }

  &::before {
    top: -7px;
    right: 50%;
    bottom: auto;
    // stylelint-disable-next-line primer/spacing
    margin-right: -6px;
    // stylelint-disable-next-line primer/borders
    border-top-color: $bg-black;
  }
}

.tooltipped-ne {
  &::after {
    right: auto;
    left: 50%;
    margin-left: -$spacer-3;
  }
}

.tooltipped-nw::after {
  margin-right: -$spacer-3;
}

// Move the tooltip body to the center of the object.
.tooltipped-s::after,
.tooltipped-n::after {
  transform: translateX(50%);
}

// Tooltipped to the left
.tooltipped-w {
  &::after {
    right: 100%;
    bottom: 50%;
    // stylelint-disable-next-line primer/spacing
    margin-right: 6px;
    transform: translateY(50%);
  }

  &::before {
    top: 50%;
    bottom: 50%;
    left: -7px;
    // stylelint-disable-next-line primer/spacing
    margin-top: -6px;
    // stylelint-disable-next-line primer/borders
    border-left-color: $bg-black;
  }
}

// tooltipped to the right
.tooltipped-e {
  &::after {
    bottom: 50%;
    left: 100%;
    // stylelint-disable-next-line primer/spacing
    margin-left: 6px;
    transform: translateY(50%);
  }

  &::before {
    top: 50%;
    right: -7px;
    bottom: 50%;
    // stylelint-disable-next-line primer/spacing
    margin-top: -6px;
    // stylelint-disable-next-line primer/borders
    border-right-color: $bg-black;
  }
}

// Tooltip align right and left
.tooltipped-align-right-1,
.tooltipped-align-right-2 {
  &::after {
    right: 0;
    margin-right: 0;
  }
}

.tooltipped-align-right-1 {
  &::before {
    right: 10px;
  }
}

.tooltipped-align-right-2 {
  &::before {
    right: 15px;
  }
}

.tooltipped-align-left-1,
.tooltipped-align-left-2, {
  &::after {
    left: 0;
    margin-left: 0;
  }
}

.tooltipped-align-left-1 {
  &::before {
    left: 5px;
  }
}

.tooltipped-align-left-2 {
  &::before {
    left: 10px;
  }
}

// Multiline tooltips
//
// `.tooltipped-multiline` Add this class when you have long content.
// The downside is you cannot preformat the text with newlines and `[w,e]`
// are always `$tooltip-max-width` wide.
.tooltipped-multiline {
  &::after {
    width: max-content;
    max-width: $tooltip-max-width;
    word-wrap: break-word;
    white-space: pre-line;
    border-collapse: separate;
  }

  &.tooltipped-s::after,
  &.tooltipped-n::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &.tooltipped-w::after,
  &.tooltipped-e::after {
    right: 100%;
  }
}

@media screen and (min-width: 0\0) {
  // IE11
  .tooltipped-multiline::after {
    width: $tooltip-max-width;
  }
}

// Sticky tooltips
//
// Always show the tooltip.
.tooltipped-sticky {
  &::before,
  &::after {
    display: inline-block;
  }

  &.tooltipped-multiline {
    &::after {
      display: table-cell;
    }
  }
}
/* END TOOLTIPS */

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .inline-image {
    width: 100%;
  }
  .logo-large {
    width: 60%;
  }
  .logo-large object {
    width: auto;
  }
  .streaming-inner {
    flex-direction: column;
    padding: 1em;
  }
  .attribution {
    padding: 1em;
  }
  .attribution p {
    line-height: 1.4em;
    margin-top: 0px;
    text-align: center;
    font-size: 0.75em;
  }
  .platform-tile {
    margin-bottom: 0.5em;
    padding: 0.5em;
    cursor: url("../assets/arrow-pointer.svg"), pointer;
  }
  .cover-art {
    width: auto;
  }
  .splash-screen {
    display: none;
  }
  .streaming-links {
    width: auto;
    margin-top: 1em;
  }
  .social {
    display: block;
  }
  .header-inner {
    display: block;
    padding: 1em;
  }
  .nav ul {
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .sec-about-inner {
    padding: 1em;
  }
  .sec-lookbook-inner-text {
    padding: 1em;
  }
  .social {
    display: inline-grid;
    line-height: 3em;
  }
  .header-inner div {
    text-align: center;
  }
  .contact {
    text-align: center;
  }
  video {
    width: auto;
  }
  footer {
    padding: 1em;
  }
  h1 {
    padding: 0;
    text-align: center;
    font-size: 3em;
  }
  h3 {
    font-size: 1.25em;
  }
  a.enter-site {
    display: block;
  }
  .section-bottom-tear {
    top: 99.8%;
  }
  header .section-bottom-tear {
      top: 99%;
    }
  .mySlides {
    height: 70vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .inline-image {
    width: 50%;
  }
  .logo-large {
    width: 60%;
  }
  .logo-large object {
    width: auto;
  }
  a.enter-site {
    display: block;
  }
  .nav ul li {
    margin: 0;
  }
  .section-bottom-tear {
    top: 99.3%;
  }
  .mySlides {
    height: 75vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .inline-image {
    width: 33.33%;
  }
  .logo-large {
    width: 60%;
  }
  a.enter-site {
    display: none;
  }
  .section-bottom-tear {
    top: 98.8%;
  }
  .mySlides {
    height: 92vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .inline-image {
    width: 33.33%;
  }
  .logo-large {
    width: 50%;
  }
  a.enter-site {
    display: none;
  }
  .section-bottom-tear {
    top: 98.6%;
  }
  .mySlides {
    height: 92vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .inline-image {
    width: 33.33%;
  }
  .logo-large {
    width: 40%;
  }
  a.enter-site {
    display: none;
  }
  .mySlides {
    height: 92vh;
  }
}
